<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 400 - Bad Request</title>
    <link rel="stylesheet" href="/static/styles 500.css">
</head>
<body>
    <div class="container">
        <h1>Error 400 - Bad Request</h1>
        <p>You Nuguty What are you trying to do?</p>
        
        <!-- GIPHY Embed Container -->
        <div class="giphy-container">
            <iframe src="https://giphy.com/embed/eKrgVyZ7zLvJrgZNZn" class="giphy-embed" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>
