<!DOCTYPE html>
<head>
    <style>
        .tenor-gif-embed {
            
        }
    </style>
</head>
<body>
    <link href="/static/styles.css" rel="stylesheet" type="text/css"/>
    <center><h1>ERROR 400: BAD REQUEST</h1></center>
    <center>
        <div class="tenor-gif-embed"
             data-postid="14832139"
             data-share-method="host"
             data-aspect-ratio="10" 
             data-width="50%"> <!-- Adjust this value to change the width -->
            <a href="https://tenor.com/view/no-nooo-nope-eat-fingerwag-gif-14832139">No Nooo GIF</a>from <a href="https://tenor.com/search/no-gifs">No GIFs</a>
        </div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </center>
</body>
