<!DOCTYPE html>
<body>
    <link href="/static/styles.css" rel="stylesheet" type="text/css"/>
    <center><h1>ERROR 404: PAGE NOT FOUND</h1></center>
    <center><div class="tenor-gif-embed" data-postid="25269231" data-share-method="host" data-aspect-ratio="1.3278" data-width="100%"><a href="https://tenor.com/view/shrug-gif-25269231">Shrug GIF</a>from <a href="https://tenor.com/search/shrug-gifs">Shrug GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script></center>
</body>
