<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <link href="/static/styles.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ASCII Art Converter</title>
</head>
<body>
    <div class="container">
        <div class="flex-box">
            <div></div>
            <div><h1>ASCII Art Converter</h1></div>
            <div></div>
        </div>
        <form action="/ascii-art" method="post">
            <label for="ascii-data">Enter Text:</label>
            <textarea id="ascii-data" name="ascii-data" rows="5" cols="50"></textarea><br>
            <label for="fonts">Select Font:</label>
            <select id="fonts" name="fonts">
                <option value="standard">Standard</option>
                <option value="shadow">Shadow</option>
                <option value="thinkertoy">Thinkertoy</option>
            </select><br>
            <label for="color">Select Output Color:</label>
            <input type="color" id="output-color-picker" name="color" value="{{.SelectedColor}}"><br>
            <input type="submit" value="Convert">
        </form>
        <form id="formatselection" action="/right" method="POST">
            <h1>Select a format</h1>
            <label for="fileformat">Choose a file format:</label>
            <select id="fileformat" name="fileformat">
                <option value="doc">doc</option>
                <option value="txt">txt</option>
            </select><br>
            <br>
            <button class="button">Download</button>
        </form>
        {{if .First}}
        <div class="result-box" style="color: {{.SelectedColor}}; background-color: {{.Backgroundcolor}} ">
        <pre>{{.First}}</pre>
        </div>
        {{end}}
    </div>
</body>
</html>
